.character{
  width: 70px;
  height: 70px;
  position:absolute;
  bottom: 20%;
  left: 15%;
  background-image: url(uababgi.png);
  background-size: cover;
}

.jump{
  background-image: url(mario.webp);
  animation: jump 2000ms forwards;
}


@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 20%;
      transform: rotate(0deg);
    }
}

body{


background-image: url(balla.jpg);

background-size: cover;

animation: move 5s linear infinite;
}

@keyframes move{
  0%{
    background-position: 0px 0 ;
  }
  100%{
    background-position: -2000px 0 ;
  }
}
