.character{
  width: 70px;
  height: 70px;
  position:absolute;
  bottom: 20%;
  left: 15%;
  background-image: url(mario.webp);
  background-size: cover;
}

.jump{
  background-image: url(mario.webp);
  animation: jump 2000ms forwards;
}


@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 20%;
      transform: rotate(0deg);
    }
}

.enemy{
position: absolute;
top: 60%;
left: 25%;
background-image:url(images-1.jpg);
width: 280px;
height: 200px;
border-radius: 50%;
box-shadow: green;
animation: eneyAnim 4s linear;
}

@keyframes eneyAnim {
  100%{
    left: -20%;
  }

}

body{


background-image: url(balla.jpg);

background-size: cover;

animation: move 5s linear infinite;
}

@keyframes move{
  0%{
    background-position: 0px 0 ;
  }
  100%{
    background-position: -2000px 0 ;
  }
}
